[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
# Charset configurations
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect = 'SET NAMES utf8mb4'

# Para evitar problemas de compatibilidade
skip-character-set-client-handshake

# Opcional: para tables mais consistentes
default-storage-engine = InnoDB